body{
    margin: 0;
    padding: 0;
    background:url(images/Background2.png) ;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 50px;
    height: 70px;
    align-items: center;

}
.links{
    display: flex;
    list-style: none;
    gap:40px
}
.nav-1{
    display: flex;
    align-items: center;
    gap: 120px;
}
.logo{
    color: orange;
    font-size: 30px;
    font-weight: 600;
}
.links li{
    font-size: 19px;
    color: orange;
}
.icons{
    display: flex;
    gap: 35px
}
.icons i{
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.hero{
    display: flex;
    margin-top: 80px;
    align-items: center;
    gap: 100px;
}
.left{
    display: flex;
    flex-direction: column;
    padding-left: 240px;
    align-items: start;
}
.left1{
    font-size: 30px;
    font-style: italic;
}
.left2{
    font-size: 80px;
    font-weight: 600;
}
.left3{
    font-size: 25px;
    font-style: italic;
    color: orange;
    margin-bottom: 15px;
}
.left4{

    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 30px;
}
.food{
    border: 2px solid white;
    border-radius: 50%;
}
#food{
    background: url(images/food.png);
    width: 500px;
    height: 500px;
    background-size: cover;
}
.items{
    display: flex;
    padding-left: 150px;
    margin-top: -50px;
    gap: 20px;
}
#food1,
#food2, 
#food3, 
#food4{
    border: 2px solid white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
#food1{
    background: url(images/food1.png);
    background-size: cover;
}
#food2{
    background: url(images/food2.png);
    background-size: cover;
}
#food3{
    background: url(images/food3.png);
    background-size: cover;
}
#food4{
    background: url(images/food4.png);
    background-size: cover;
}